<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  {{#if product._id}}
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">DETALLE DEL PRODUCTO {{product._id}}</h1>
    <section class="m-3 w-50 d-flex flex-column justify-content-center align-items-center bg-success-subtle">
      <p>{{product.title}}</p>
      <p>PRECIO ${{product.price}}</p>
      <p>{{product.category}}</p>
      <img src="{{product.photo}}" height="314" width="314" alt="Imagen del Producto" />

      <div class="mb-3">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" min="1" value="1">
      </div>

      <button class="btn btn-primary" id="agregar-carrito">Agregar al Carrito</button>
    </section>
  {{else}}
    <h1 class="bg-success-subtle p-2 text-center text-success w-100">PRODUCTO NO ENCONTRADO</h1>
  {{/if}}
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  
  document.getElementById('agregar-carrito').addEventListener('click', async () => {
    const product_id = '{{product._id}}'; 
    const quantity = document.getElementById('cantidad').value; 
    const user_id = "6633d717c68de5b1bff2e4c4"

    try {
      
      const response = await fetch('http://localhost:8080/api/carts', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          user_id,
          product_id,
          quantity
        })
      });

      if (response.ok) {
        
        {{!-- const data = await response.json();
        alert(data.message); --}}
        
        Swal.fire({
  title: "Excelente",
  text: "Agregaste " +quantity+ " {{product.title}} a tu Carrito" ,
  imageUrl: "{{product.photo}}",
  imageWidth: 314,
  imageHeight: 314,
  imageAlt: "Custom image"
});

      } else {
        
        throw new Error('Error al agregar al carrito');
      }
    } catch (error) {
      
      console.error(error);
      alert('Error al agregar al carrito');
    }
  });
</script>
